:root {
  --bg: #0a0a0a;
  --card: #151515;
  --text: #d0d0d0;
  --green: #00ff88;
}

body.light {
  --bg: #f2f2f2;
  --card: #ffffff;
  --text: #111;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--bg);
  color: var(--text);
  transition: 0.4s;
}

header {
  text-align: center;
  padding: 20px;
  background: #000;
  border-bottom: 2px solid var(--green);
}

h1 {
  color: var(--green);
}

.neon {
  text-shadow: 0 0 10px var(--green), 0 0 20px var(--green);
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  background: #111;
  padding: 10px;
  position: sticky;
  top: 0;
}

nav a {
  color: var(--text);
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: var(--green);
  text-shadow: 0 0 10px var(--green);
}

.card {
  background: var(--card);
  margin: 20px auto;
  padding: 20px;
  max-width: 900px;
  border-left: 4px solid var(--green);
  box-shadow: 0 0 20px rgba(0,255,136,0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

img {
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
  filter: brightness(0.9);
}

button {
  margin-top: 10px;
  padding: 10px 15px;
  background: var(--green);
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bold;
}
